@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
    --color-link: oklch(66.289% 0.06567 272.413);
    --color-navy: #04202c;
    --color-navy-deep: #001823;
    --color-navy-surface: #1a3350;
    --color-text-offwhite: #f7f7f7;
    --color-gold: #e3c064;
    --color-gold-light: #ffe196;
    --color-gold-soft: #b89b6a;
    --color-divider: oklch(0.57 0 0);
    --color-text-muted: #d8d8d8;
}

.text-gold {
    color: var(--color-gold);
}

.text-offwhite {
    color: var(--color-text-offwhite);
}

.text-pale {
    color: var(--color-text-muted);
}

.font-merry {
    font-family: "Merriweather", serif;
}

.bg-surface {
    background-color: var(--color-navy-surface);
}

.bg-navy {
    background-color: var(--color-navy);
}

.bg-navy-deep {
    background-color: var(--color-navy-deep);
}

.divider{
    height: 1px;
    background-color: var(--color-divider);
}
.wrapper-line{
    border: 1px solid var(--color-gold);
}
.color-mobile-icon{
    background-color: var(--color-gold);
}
.footer-link {
    color: var(--color-link);
    font-size: small;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: "Inter", sans-serif;
        font-weight: 700;
    }
    p {
        @apply text-sm leading-relaxed mb-4 md:mb-4 ;
        color: var(--color-text-muted)
    }

    li {
        color: var(--color-text-offwhite)
    }
    h1 {
        @apply text-2xl lg:text-4xl font-bold font-serif mb-4 md:mb-4;
        font-family: "Merriweather", serif;
        color: var(--color-gold)
        
    }

    h2 {
        @apply text-xl lg:text-2xl font-semibold font-serif mb-4 md:mb-8;
        font-family: "Merriweather", serif;
    }

    h3 {
        @apply text-lg lg:text-xl font-medium font-serif mb-4 md:mb-8;
        font-family: "Merriweather", serif;
    }
}
